:root {
    --primary: #ff6e40;
    --secondary: #0277bd;
    --danger: #ff3d00;
}

form {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}